<% content_for :css do %> 
	<%= stylesheet_link_tag 'login' %>
<% end %>

<div id="login-container">
	<h1 id="login-h1" >Log In</h1>

	<p id="logout-notice"><%= notice %></p>

	<div id="login-form-container">
		<ul class="login"><%= form_for "/" do |f| %>
			<%=f.label :email, class: "grid-2-8"%>
			<%=f.text_field :email, class: "grid-2-8"%>
			<%=f.label :password, class: "grid-2-8"%>
			<%=f.password_field :password, class: "grid-2-8"%>
			<%=f.submit "Sign In", class: "login-button grid-2-8" %>
		</ul>
		<%end%>
	</div>
</div>