<p id="notice"><%= notice %></p>
<h1><%= @cohort.cohort_name %></h1>
<p>Start Date: <%= @cohort.start_date.strftime("%m/%d/%Y") %></p>
<p>End Date: <%= @cohort.end_date.strftime("%m/%d/%Y") %></p>
<p>Subject: <%= @cohort.subject %></p>
<p>Full Time: <%= @cohort.full_time %></p>
<p>Max Absences: <%= @cohort.max_absences %></p>
<button><a href="/cohorts/<%=@cohort.id%>/edit">Edit</a></button>
</p>

<h2> Producer: </h2>
<ul>
  <% @producers.each do |producer| %>
    <li> <%= producer.first_name %> <%= producer.last_name %> </li>
  <% end %>
</ul>
<h2> Instructors: </h2>
<ul>
  <% @instructors.each do |instructor|  %>
    <li> <%= instructor.first_name %> <%= instructor.last_name %> </li>
  <% end %>
</ul>
<h2> Students: </h2>
<% if @user.type == "Instructor" %>
  <a href="/cohorts/<%=@cohort.id%>/students/new">Add Student</a>
<% end %>
<ul>
  <% @students.each do |student| %>
    <li>
      <a href="/students/<%= student.id %>?cohort_id=<%=@cohort.id%>"> <%= student.first_name %> <%= student.last_name %></a> 
      <div>
        <p><% student.date_records%></p>
        <% student.date_records.each do |record| %>
          <% if record.day >= @cohort.start_date && record.day <= @cohort.end_date  %>
            <%if record.attendence == "unexcused" %>
              <% @missed = @missed+1 %>
              <%@total_missed = @total_missed+1 %>
            <%elsif record.attendence == "late"%>
              <% @lates = @lates+1 %>
              <%@total_lates = @total_lates+1 %>
            <%end%>
          <%end%>
        <%end%>
        <p>Missed<%=@missed%></p>
        <p>Tardies<%=@lates%></p>
        <%@missed = @missed*4 +@lates%>  
        <%if @missed >= 4*(@cohort.max_absences-1)%>
          <a href="/students/<%=student.id%>/texts/new?cohort_id=<%=@cohort.id%>">Send Text</a>
        <%end%>
        <%@missed = 0%>
        <%@lates = 0%>
      </div>
    </li>
  <% end %>
</ul>
<div >
  Total Missed: <%=@total_missed%>
  <%= @missed_per_day %>
</div>
<div>
  Total Lates: <%=@total_lates%>
  <%= @lates_per_day %>
</div>
<div>
  <%= @clean_days %>
</div>
<%@total_missed = 0 %>
<%@total_lates = 0 %>


<h3>See date record from a specific day</h3>

<form method="GET" action="/cohorts/<%=@cohort.id%>/date_records">
  <input name="date" type="date" min="<%=@cohort.start_date%>" max="<%=@cohort.end_date%>" value= "<%=@cohort.start_date%>">
  <input type="submit">
</form> 

<% if @user.type == "Instructor" %>
  <h3>Create new date record</h3>
  <form method="GET" action="/cohorts/<%=params[:id]%>/students/date_records/new">
    <input name="date" type="date" min="<%=@cohort.start_date%>" max="<%=Time.now.to_s.split(' ').shift%>">
    <input type="submit">
  </form> 
<% end %>


