<% content_for :css do %> 
  <%= stylesheet_link_tag 'students-show.css' %>
<% end %>

<h1 class="cohort-welcome"><%=@student.first_name%>'s Attendance Stats for Cohort 
  <% if @current_user.type != "Student"%> 
    <a href="/cohorts/<%=params[:cohort_id]%>/students"><%=Cohort.find(params[:cohort_id]).cohort_name%></a>
  <%else%>
    <%=User.find(@student.id).cohorts.first.cohort_name%>
  <%end%>
</h1>
	<ul>
		<% @student.date_records.each do |record| %>
			<% if record.day >= Cohort.find(params[:cohort_id]).start_date && record.day <= Cohort.find(params[:cohort_id]).end_date  %>
        <li>
          <div>Date: <%= record["day"] %></div>
  			  <div>Attendance: <%= record["attendence"] %></div>
    			<% if @current_user.type == "Instructor"%> 
    			 <a href = "/date_records/<%=record.id%>/edit">Edit Attendance</a>
    			<%end%>
        </li>
      <%end%>
		<% end %>
    <!-- changes missed and lates into a common variable  -->
    <%@missed = @missed*4 +@lates%>
    <%if @missed >= (Cohort.find(params[:cohort_id]).max_absences-1) *4%>
      <p>! Contact!!!</p>
      <!-- add API -->
      <% if @current_user.type == "Student"%>
        <p> Your producer:</p>
        <a href="/"> <%= Cohort.find(params[:cohort_id]).users.where(type: "Producer").first.email%> </a>
      <%end%>
    <%end%>
	</ul>
