<h1><%=@student.first_name%>'s Attendance Stats for Cohort 
  <% if @current_user.type != "Student"%> 
    <a href="/cohorts/<%=params[:cohort_id]%>/students"><%=Cohort.find(params[:cohort_id]).cohort_name%></a>
  <%else%>
    <%=User.find(@student.id).cohorts.first.cohort_name%>
  <%end%>
  :
</h1>
	<ul>
		<% @student.date_records.each do |record| %>
			<% if record.day >= Cohort.find(params[:cohort_id]).start_date && record.day <= Cohort.find(params[:cohort_id]).end_date  %>
        <li>
          <div>Date: <%= record["day"] %></div>
  			  <div>Attendance: <%= record["attendence"] %></div>
    			<% if @current_user.type == "Instructor"%> 
    			 <a href = "/date_records/<%=record.id%>/edit">Edit Attendance</a>
    			<%end%>
        </li>
      <%end%>
		<% end %>
	</ul>
