<h1><%=@student.first_name%>'s Attendance Stats for Cohort <%=params[:cohort_id]%>:</h1>
	<ul>
		<% @student.date_records.each do |record| %>
			<li>Date: <%= record["day"] %></li>
			<li>Attendance: <%= record["attendence"] %></li>
			<% if @current_user.type != "Student"%> 
			<a href = "/date_records/<%=record.id%>/edit">Edit Attendance</a>
			<%end%>
		<% end %>
	</ul>

