<h1>Attendence Record for Cohort 
  <a href="/cohorts/<%=@cohort.id%>/students"><%=@cohort.cohort_name%></a>
  on <%=params[:date]%></h1>
<ul>
  <% @students.each do |student| %>
    <li>
      <a href="/students/<%= student.id %>?cohort_id=<%=@cohort.id%>"> <%= student.first_name %> <%= student.last_name %></a> 
      <div>
        <div>
          <p><%= student.date_records.where(day: params[:date]).first.attendence %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>