<h1>New day <%=params[:date]%></h1>

<p><%=@students.first.date_records.first.day%></p>
<p><%=@students.first.date_records.second.day%></p>
<p><%=@students.first.date_records.third.day%></p>
<p><%=@students.first.date_records.fourth.day%></p>

<ul>
  <%= form_tag("/cohorts/#{@cohort_id}/students/date_records", method: :post) do %>
    <% @students.each do |student| %>
      <!--  -->
      <li>
        <div>
          <%= student.first_name %> <%= student.last_name %>
        </div>
        <div>
          <select name="<%= student.id.to_s %>" >
            <option value="present">Present</option>
            <option value="excused">Excused</option>
            <option value="unexcused">Unexcused</option>
            <option value="late">Late</option>
          </select>
          <!--  -->
        </div>
      </li>
    <%end%>
    <button>Submit</button>
  <%end%>
</ul>
