<h1>New day!</h1>

<ul>
  <%= form_tag("/cohorts/#{@cohort}/students/date_records", method: :post) do %>
    <% @students.each do |student| %>
      <!--  -->
      <li>
        <div>
          <%= student.first_name %> <%= student.last_name %>
        </div>
        <div>
          <select>
            <option name=<%= student.id.to_s %> value="present">Volvo</option>
            <option name=<%= student.id.to_s %> value="excused">Saab</option>
            <option name=<%= student.id.to_s %> value="unexcused">Mercedes</option>
            <option name=<%= student.id.to_s %> value="late">Audi</option>
          </select>
          
          <!--  -->
        </div>
      </li>
    <%end%>
    <button>Submit</button>
  <%end%>
</ul>
