<!DOCTYPE html>
<html>
<head>
  <title>AttendanceTrackerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :css %>
</head>
<body>
	<header>
		<% if @user%> 
		<div>
			<nav class="grid-full">
				<ul class="nav-links">
					<li class="grid-5-8"><%= @user.first_name %> <%= @user.last_name %></li>
					<li class="grid-1-8"><a href="/users/<%=@user.id%>">Profile</a></li>
					<li class="grid-1-8"><%= link_to "Cohorts", cohorts_path %></li>
					<li class="grid-1-8"><%= link_to "Log Out", logout_path %></li>
				</ul>
			</nav>
		</div>
		<%end%>
	</header>
<div class="content">
	<%= yield %>
</div>
</body>
</html>
